<h1><%= @user.username %>さんの面接一覧</h1>
  <table>
    <theader>
      <tr>
        <th>面接開始時間</th>
        <th>承認状態</th>
        <th></th>
      </tr>
    </theader>
    <tbody>
      <% @interviews.each do |interview| %>
      <tr>
        <td>
          <%= interview.schedule.strftime("%Y年%m月%d日 %H時%M分") %>
        </td>
        <td>
          <%= interview.propriety %>
        </td>
        <% if @user == current_user %>
          <td class="btn-top-radius">
            <% if interview.propriety == "reservation" %>
              <%= link_to '編集', edit_user_interview_path(@user, interview) %>
            <% end%>
          </td>
          <td class="btn-top-radius">
            <% if interview.propriety == "reservation" %>
              <%=
                link_to(
                  '削除',
                  user_interview_path(@user, interview),
                  method: :delete,
                  data: { confirm: '本当に削除しますか？' },
                )
              %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="btn-sf-like">
    <%= link_to '新規面接作成', new_user_interview_path %>
  </div>
  
<%= form_for :request_user, url: apply_user_interviews_path(current_user) do |f| %>
  
  <div class="field">
    <%= f.collection_select :request_user, @except_current_user, :id, :email %>
  </div>
  
  <div class="actions">
    <%= f.submit "申請" %>
  </div>
<% end %>
